# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.*
*.log

# Dagster
.dagster/
.dagster_home/
.tmp_dagster_home_*/
storage/

# dbt (if you add later)
target/
dbt_packages/
logs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data files
*.parquet
*.csv
*.json
data/

# Environment variables
.env
.env.*
.sv
